%p.style-label .header
%h1.header The BRAT Blog

%p.style-label .subhead
%h2.subhead About The Blog

%p.style-label .post-title
%p.post-title Agile Buzz and the Damage it Does

%p.style-label .post-author
%p.post-author by Kat Grider

%p.style-label .post-body
%p.post-body MARCH 27, 2014
%p.post-body In the last few years marketers of every ilk have geeked out on the idea of agile. Enter “Agile Marketing” into Google and get back over 32 Million results. Type in “Agile Marketing” in the Amazon Books search and get back 111 results with 50% of the titles being written in the last 2 years despite the fact that ‘agile’ has been around since 2001. So why would do Bree and I feel it's important to add to the noise? Well, we find the buzz to be misleading at best and totally impractical at worst.




